@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
    .botao{
        margin-bottom: 10%;
    }
}

@media screen and (max-width:700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }
    .botao{
        margin-top: 5px;
        margin-bottom: 10%;
        width: 190px;
    }
}

@media screen and (max-width:700px) {
    .filme-principal .titulo {
        /* margin-top: 70%; */
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:415px) {
    .filme-principal .titulo {
        margin-top: 70%;
        display: flex;
        flex-direction: column;
    }
    .filme-principal .descricao {
        font-size: 10px;
    }
}